.contact {
    min-height:90vh;
    padding-top:10rem;
    margin-left:10rem;
    margin-right:10rem;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction:column;
    color:var(--white);

    &__info {
        text-align:center;
        width:100%;
        margin-bottom:5rem;

        h5 {
            font-size:3rem;
        }
    
        p {
            font-size:1.5rem;
            font-weight:500;
        }
    }

    &__content {
        display:flex;
        align-items:center;
        justify-content:flex-start;
        width:100%;

        @include respond(phone) {
            flex-direction:column;
        }
    }



    &__details {
        flex-basis:30%;
        
        
        @include respond(tab-port) {
            flex-basis:100%;
        }

        @include respond(phone) {
            flex-basis:100%;
            text-align:center;
        }

        h6 {
            font-size:2rem;
            padding-bottom:1rem;
        }

         p{
             font-size:1.5rem;
             width:60%;
             font-weight:500;
             padding-bottom:1rem;

             @include respond(phone) {
                width:100%;
            }
         }
    }
    

    &__form {
        flex-basis:70%;
        width:100%;
        display:flex;
        flex-wrap:wrap;
        
        &__name,
        &__email {
            font-size:1.5rem;
            padding:1rem 0rem;
            border-radius:1px;
            background-color: transparent;
            border:none;
            font-family:inherit;
            border-bottom:1px solid var(--white);  

             
            &::-webkit-input-placeholder {
                color:var(--white);
            }
        }


        &__name {
            margin-right:2%;
            margin-bottom:1rem;
            flex-basis:40%;
    
            @include respond(phone) {
                flex-basis:100%;
            }
           
        }

        &__email {
            flex-basis:58%;;
            margin-bottom:1rem;

            @include respond(phone) {
                flex-basis:100%;
            }
        }

        &__message {
            flex-basis:100%;
            margin-bottom:1rem;
            font-size:1.5rem;
            padding:1rem 0rem;
            border-radius:1px;
            background-color: transparent;
            border:none;
            font-family:inherit;
            border-bottom:1px solid var(--white);  

            &::-webkit-input-placeholder {
                color: red;
            }
        }
    }
   
}