.scrollTop {
    width:4rem;
    height:4rem;
    background-color:var(--switch);
    border-radius:50%;
    position: fixed;
    bottom:12rem;
    right:1rem;
    z-index:2000;
    @include flexCenter;
    color:yellow;
    box-shadow:var(--shadow);

    &:hover {
        background-color:var(--top);
    }

    &:hover a {
        color:var(--switch);
    }

    a {
        &:link,
        &:visited { 
          color:var(--top);
          font-size:3rem;
          font-weight:400;
        }
  
        &:hover,
        &:active{
            color:var(--switch);
        }
    }
}