.scrollTop {
    width:4rem;
    height:4rem;
    background-color:red;
    position: fixed;
    bottom:12rem;
    left:1rem;
    z-index:2000;
    @include flexCenter;

    .arrow {
      
        width:2rem;
        height:2rem;
        border:2px solid transparent;
        border-top-color:yellow;
        border-right-color:yellow;
        transform:rotate(30deg);
    }
}