$orange_light:#ffb988;
$orange_dark:#ff7730;
$green_light:#7ed56f;
$green_dark: #28b485;
$blue_light:#2998ff;
$blue_dark:#5643fa;

$color_primary: #55c57a;
$color_primary_light:#7ed56f;
$color_primary_dark: #28b485;
$color_grey_dark: #777;
$color_white:  #fff;
$color_black:rgb(15, 14, 14);
$color_grey_light_1: #f7f7f7;
$color_grey_light_2: #999;
$color_grey_light_3: #333;


* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


:root {  
    --masonryGutter: 3%;

    --bg:#ffffff;  
    --text:#ff7730;;
    --white:#ff7730; 
    --black:#bbb;

    --hover:#752d06;
    --pricing:#f7f7f7;
    --pricing-heading:#f7f7f7;
    --pricing-list:#25262c;
    --commissioned-hover:#f7f7f7;
    --footer:#f7f7f7;
    --testimonial:#752d06;
    --testimonial-name::#ff7730;
    --lighter-shade:#f7f7f7;
    --pricing-price:#f7f7f7;
    --category-text:#f7f7f7;
    --category-bg:#ff7730;
    --category-border:#ffffff;
    --input-placeholder:#ff7730;
    --switch:#ff7730;
    --other:#ff7730;
    --link-color:#ff7730;

    --overlay-1:#ff7730;
    --overlay-2:#da5711;
    --overlay-3:#a1420f;
    --line:#ff7730;
    --top:#ffffff;

    --bg-2:#ff7730; 
    --text-2:#fff;
    --dark1:#202f61;
    --dark2:#29324d;
    --dark3:#2a3556;
    --dark4:#1b2440;
    --shadow:0 1.5rem  4rem  rgba(15, 14, 14, 0.217);
}



html[data-theme='dark'] {
    --bg:#1b1c22;
    --text:#bbb;
    --white:#ffffff;   
    --black:#0f0f10;


    --hover:#ffffff;
    --commissioned:#25262c;
    --commissioned-hover:#25262c;
    --pricing:#25262c;
    --pricing-heading:#f7f7f7;
    --pricing-list:#ffffff; 
    --footer:#25262c;
    --testimonial:#bbb; 
    --testimonial-name:#f7f7f7;
    --lighter-shade:#202128;
    --pricing-price:#f7f7f7;
    --category-text:#f7f7f7;
    --category-border:#f7f7f7;
    --category-bg:#1b1c22;
    --input-placeholder:#f7f7f7;
    --switch:#3d51fb;
    --other:#3d51fb;

    --overlay-1:#1e292d;
    --overlay-2:#2a373c;
    --overlay-3:#404b50;
    --line:#ffffff;
    --top:#ffffff;


    --text-2:#3e404b;
    --link-color:#3d51fb;
    --bg-2:#ffffff;
    --darker-shade:#191a20;
    --shadow:0 2.5rem  4rem  rgba(185, 168, 168, 0.319);
}

*,
*::before,
*::after {
    box-sizing:inherit;
}


html {
    box-sizing:border-box;
    font-size:62.5%; //1rem =10px,10px/16px * 100 = 62.45:

    // BreakPoints
    // xm-phone  270
    // -phone     600
    // -tab-port  900
    // -tab-land  1200
    // -big-desktop >1800
    
    @include respond(big-desktop) {
        font-size:75%;//1rem = 12px/16 = 75%
    }

    @include respond(tab-land) {
        font-size:56.25%; //1rem = 9px/16 = 56.25%
    }

    @include respond(tab-port) {
        font-size:50%;//1rem = 8px/16 = 50%
    }

    @include respond(phone) {
        font-size:40%;
    }

}


body {
    background-color:var(--bg);
    background-size:cover;
    background-repeat:no-repeat;
    min-height:100vh;
    position:relative;
} 

a {
    cursor:pointer;
    text-decoration:none;
}


.main {
    position:relative;
    padding-bottom:15rem;
}
