.footer {
    height:10rem;
    width:100%;
    background-color: var(--footer);
    color:var(--text);
    padding-left:5rem;
    padding-right:6rem;
    display:flex;
    justify-content: space-between;
    align-items:center;
    cursor:pointer;
    box-shadow:0 1.5rem 4rem  rgba(15, 14, 14, 0.5);

    position:absolute;
    bottom:0;
    left:0;



    &__content {
        &__links {

            ul {
                list-style-type:none;
                display:flex;
                align-items:center;
                justify-content:flex-start;
        
                li {
                    margin-right:1rem;
                    transition:all .2s; 

                    a {
                        &:link,
                        &:visited { 
                            text-decoration:none;
                            font-size:1.5rem;
                            font-weight:600; 
                            color:var(--text);
                            cursor:pointer;
                         }

                        &:hover,
                        &:active {
                            color:var(--hover);
                        }
                    }
                }
            }    
        }

        &__copyright {
            font-size:1.2rem;
            font-weight:500;
            color:var(--text);
        }
    }

    &__icon {
        font-size:2rem;

        a {
            color:var(--text);
            text-decoration:none;
            transition:all .3s;
            margin-left:1rem;

            &:hover,
            &:active {
                color:var(--hover);
            }
        }
        
    }
    
}