.testimonials {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:7rem;
    margin-right:7rem;
    height:60vh;

    .owl-theme {
        .testimonials__content__item {
            background-color: var(--lighter-shade);
            width:80%;
            height:100%;
            margin:0 auto;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align:center;
            border-radius: 1.5rem;
            padding-top:3rem;
            padding-bottom:3rem;
            

            p {
                color:var(--text);
                font-size:1.4rem;
                width:80%;
            }

            h5 {
                color:var(--white);
                font-weight:500;
                font-size:2rem;
            }
        }
    }

    &__content {
        width: 100%;
        height:30vh;
        margin-bottom:3rem;
    }


    &__heading {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
  
        h4 {
          color:var(--white);
          padding-top:1.5rem;
          font-size:3.5rem;
        }
    }

   
}



#sync2.owl-theme {
    position: relative;
}

  #sync2.owl-theme .owl-next,
  #sync2.owl-theme .owl-prev {
    width: 2.2rem;
    height: 4rem;
    margin-top: -2rem;
    position: absolute;
    top: 50%;
  }

  #sync2.owl-theme .owl-prev {
    left: 1rem;
  }

  #sync2.owl-theme .owl-next {
    right:1rem;
  }

  






