.testimonials {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:7rem;
    margin-right:7rem;
    // height:60vh;

    @include respond(tab-port) {
      height:50vh;
     }

     @include respond(phone) {
      height:40vh;
     }

    .owl-theme {
      // height:70%;
        // .testimonials__content__item {
        //     background-color: var(--lighter-shade);
        //     width:80%;
        //     height:100%;
        //     margin:0 auto;
        //     display:flex;
        //     flex-direction: column;
        //     justify-content: center;
        //     align-items: center;
        //     text-align:center;
        //     border-radius: 1rem;
        //     // padding-top:3rem;
        //     // padding-bottom:3rem;
            

        //     p {
        //         color:var(--testimonial);
        //         font-size:1.4rem;
        //         width:80%;
        //     }

        //     h5 {
        //         color:var(--testimonial-name);
        //         font-weight:500;
        //         font-size:2rem;
        //     }
        // }
    }

    .testimonials__content__item {
      background-color: var(--lighter-shade);
      width:80%;
      margin:0 auto;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align:center;
      border-radius: 1rem;
      margin-top:2rem;
      padding-top:2rem;
      padding-bottom:2rem;

      
      

      p {
          color:var(--testimonial);
          font-size:1.4rem;
          width:80%;
      }

      h5 {
          color:var(--testimonial-name);
          font-weight:500;
          font-size:2rem;
      }
  }

    &__content {
        width: 100%;
        margin-bottom:3rem;

        @include respond(phone) {
          margin-bottom:0;
        }
    }


    &__heading {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
  
        h4 {
          color:var(--white);
          font-size:3.5rem;
        }

        h3 {
           color:var(--testimonial);
          }
    }

   
}




  #sync2 {
    position:relative;

    .owl-nav {margin:0}

    .owl-dots {
      position:absolute;
      bottom:-3rem;
      left:50%;
      transform:translate(-50%,-50%);
    }
  }

  






